.container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 50px;
  padding: 20px 50px;
}

.left {
  display: flex;
  gap: 20px;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.images {
  flex: 1;
}

.images img {
  width: 100%;
  height: 50%;
  max-height: 120px;
  object-fit: cover;
  cursor: pointer;
  margin-bottom: 5px;
}

.mainImage {
  flex: 5;
}

.mainImage img {
  width: 100%;
  max-height: 800px;
  object-fit: cover;
}

.price {
  font-size: 20px;
  color: #444444;
}

.descritionText {
  margin-bottom: 10px;
}

.variation {
  display: flex;
  gap: 10px;
}

.variationItem {
  cursor: pointer;
  padding: 6px 12px;
  width: 38px;
  height: 38px;
  border: 1px solid #8f8f8f;
}

.variationItem.active {
  border: 3px solid #000000;
}

.descritionText {
  font-size: 18px;
  font-weight: 600;
}

.details {
  font-size: 14px;
}

.buyButton {
  display: block;
  align-self: flex-start;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  padding: 10px 30px;
  background-color: #101010;
  border: none;
  transition: background 0.2s;
}

.buyButton:hover {
  background-color: #363636;
  cursor: pointer;
}

.detailItem {
  font-size: 16px;
}
