.table {
  width: 100%;
  max-width: 600px;
  border-collapse: collapse;
}

td,
th {
  text-align: center;
  padding: 10px;
}

td {
  text-align: center;
  vertical-align: middle;
}

th {
  background-color: #f1f1f1;
  font-weight: 400;
}

.row {
  border-bottom: 1px solid #999;
}

.image {
  max-width: 20px;
  padding: 0;
}

.image img {
  max-width: 50px;
  object-fit: cover;
  width: 100%;
  height: auto;
}
